<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.boss.cart.persistence.OrderMapper">
    <cache/>

    <select id="getOrderByOrderID" resultType="org.boss.cart.model.cart.Order" parameterType="java.lang.String">
    SELECT
    orderId, department_name, applicant, application_date
    FROM table_order_user
    WHERE orderId = #{orderId}
    </select>

    <insert id="setOrder">
        INSERT INTO table_user
          (orderId, department_name, applicant, application_date)
        VALUES
          (#{orderId}, #{department_name}, #{applicant}, #{application_date})
    </insert>

</mapper>